.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
.tittle{
  margin: 20px 0px;
  font-size: 20px;
  color: brown;
}
.bucket{
  display: flex;
  gap: 20px;
}
.bucket1{
  border-radius: 5px;
  border: 1px solid rgb(184, 184, 184);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  width: 150px;
  height: 200px;
  padding: 10px;
}
.bucket2{
  border-radius: 5px;
  border: 1px solid rgb(184, 184, 184);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  width: 150px;
  height: 200px;
  padding: 10px;
}
.btn{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btn>button{
  height: 25px;
  cursor: pointer;
  width: 100px;
  margin: 5px 0px 2px 0px;
  border: none;
  border-radius: 5px;
}
.add , .addall{
  background-color: blue;
  color: white;
}
.add:hover{
  background-color: rgb(1, 1, 151);
}
.remove , .removeall{
  background-color: tomato;
  color: white;
}
.addall:hover{
  background-color: rgb(1, 1, 151);
}
.removeall:hover{
  background-color: rgb(212, 38, 7);
}
.remove:hover{
  background-color: rgb(212, 38, 7);
}

.heading{
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  background-color: green;
  color: white;
  border-radius: 4px;
  padding: 3px 3px;
}